{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6">
            {% if app.user %}
                <div class="alert alert-warning text-center shadow mb-4">
                    Vous êtes connecté en tant que {{ app.user.username }}
                </div>
                <a href="{{ path('security_logout') }}" class="btn btn-danger">Se déconnecter</a>
                <a href="{{ path('home') }}" class="btn btn-primary">Page d'acceuil</a>
            {% else %}
                <form method="post" name="login">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h1 class="mb-0 text-center">
                                Connexion
                            </h1>
                        </div>
                        <div class="card-body">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputEmail">Identifiant</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent">
                            <button class="btn btn-block btn-primary">Se connecter</button>
                            <a href="{{ path('security_forgotten_password') }}" class="btn btn-block btn-outline-info">Mot de passe oublié ?</a>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
